// Please try to maintain the same code style as outlined here:
// https://github.com/lintelio/lintel/blob/master/CONTRIBUTING.md

// Global
$dropdown-bg-fallback:            #fff;
$dropdown-bg:                     rgba(255,255,255,.8);
$dropdown-border:                 $border-darkest;
$dropdown-border-radius:          $border-radius-sm;
$dropdown-box-shadow:             $box-shadow-base;
$dropdown-min-width:              180px;
$dropdown-z-index:                $z-index-xl;

$dropdown-font-size:              $font-size-sm;
$dropdown-font-weight:            normal;
$dropdown-text-align:             left;

$dropdown-margin-top:             4px;
$dropdown-margin-x:               0;
$dropdown-margin-bottom:          0;

$dropdown-padding-y:              4px;
$dropdown-padding-x:              0;

// Items
$dropdown-item-margin-y:          0;
$dropdown-item-margin-x:          $dropdown-padding-y;

$dropdown-item-padding-y:         $cushion-y-xs;
$dropdown-item-padding-x:         ($btn-padding-x - $dropdown-padding-y);

$dropdown-item-border:            null;
$dropdown-item-text:              $text-base;

$dropdown-item-hover-bg:          $text-link;
$dropdown-item-hover-border:      transparent;
$dropdown-item-hover-text:        #fff;

// Dividers
$dropdown-divider-border:         $border-darker;

$dropdown-divider-margin-top:     $dropdown-padding-y;
$dropdown-divider-margin-x:       0;
$dropdown-divider-margin-bottom:  $dropdown-divider-margin-top;
